<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= link_to root_url, class: 'header' do %>
      <%= image_tag 'kiwi-ruby-logo.svg', alt: 'Kiwi Ruby Logo', class: 'kiwi-ruby-logo' %>
      <span class="app-name"><%= app_name %></span>
      <%= image_tag 'trineo-logo.svg', alt: 'Trineo Logo', class: 'trineo-logo' %>
    <% end %>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <nav>
      <%= link_to_unless_current "Write", new_submission_path %>
      <%= link_to_unless_current "Read", submissions_path %>
    </nav>

    <%= yield %>

    <footer>
      No cookies, no tracking, no third parties.
      Plain JS like your mum used to make.<br>
      <%= link_to 'Fix & fork', project_repository_url %>
    </footer>
  </body>
</html>
